TZ=America/Chicago
PUID=2000
PGID=2000

# File paths
CONFIG_PATH=/opt/appdata
DATA_PATH=/mnt/hdd1
MOVIES_PATH=/mnt/hdd1/Movies
TV_PATH=/mnt/hdd1/TV
DOWNLOAD_PATH=/mnt/hdd1/Download

# Nginx enviroments variables
NGINX_EMAIL=email@domain.com
NGINX_URL=full.hostname.com
NGINX_VALIDATION=dns
NGINX_DNSPLUGIN=route53

# Portainer enviroments variables
PORTAINER_HTTPS_PROXY=full.hostname.com

# Plex enviroments variables
# Go to https://www.plex.tv/claim/ to generate a claim key
PLEX_CLAIM=claimkey
PLEX_ADVERTISE_IP=http://full.hostname.com:32400

EXTERNAL_URL=https://full.hostname.com

CELLS_MYSQL_DBNAME=cells
CELLS_MYSQL_ROOT=password
CELLS_MYSQL_USER=pydio
CELLS_MYSQL_PASSWORD=password

